POSTGRES_PORT=5433
REDIS_PORT=6339
BACKEND_PORT=3000
FRONTEND_PORT=3001
LOCALSTACK_PORT=4566

DB_DATABASE=ontrack
DB_USERNAME=postgres
DB_PASSWORD=postgres

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET_NAME=ontrack-uploads-local
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:ontrack-events

EMAIL_FROM=noreply@ontrack.local
